<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeetingScheduler</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css?h=073116a49e2107f6494a38dc12482daa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="~/assets/fonts/ionicons.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="~/assets/fonts/material-icons.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="~/assets/fonts/simple-line-icons.min.css?h=1585abf9beaf49802b3a80bf813edceb">
    <link rel="stylesheet" href="~/assets/css/styles.min.css?h=b39f7f42ef658bde17d6c39016c979b1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Meeting Scheduler</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
                <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ml-auto" role="button" href="login.html">Sign Up/In</a></div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <p class="text-muted small mb-4 mb-lg-0">© Christopher Keddy Meeting Scheduler 2020. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>>
    <script src="~/assets/js/jquery.min.js?h=83e266cb1712b47c265f77a8f9e18451"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>
    <script src="~/assets/js/script.min.js?h=82d712d5e0811380f26d2753ca68c860"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
