@model long
@{
  ViewData["Title"] = "Calendar";
  Layout = "_LayoutSignedIn";
}
<!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=af95c842e4841ee093d67b3348c65801">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
<link rel="stylesheet" href="assets/fonts/font-awesome.min.css?h=1585abf9beaf49802b3a80bf813edceb">
<link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css?h=1585abf9beaf49802b3a80bf813edceb">
<link rel="stylesheet" href="assets/css/styles.min.css?h=a33cbdac3229da1b79ff12d65a290eeb">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link href="~/reactjs/build/static/css/2.17e5ed98.chunk.css" rel="stylesheet">
<link href="~/reactjs/build/static/css/main.a0fe8a64.chunk.css" rel="stylesheet">
</head>
<body>
  -->
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script>!function(i){function e(e){for(var t,r,n=e[0],o=e[1],u=e[2],a=0,l=[];a<n.length;a++)r=n[a],Object.prototype.hasOwnProperty.call(c,r)&&c[r]&&l.push(c[r][0]),c[r]=0;for(t in o)Object.prototype.hasOwnProperty.call(o,t)&&(i[t]=o[t]);for(s&&s(e);l.length;)l.shift()();return f.push.apply(f,u||[]),p()}function p(){for(var e,t=0;t<f.length;t++){for(var r=f[t],n=!0,o=1;o<r.length;o++){var u=r[o];0!==c[u]&&(n=!1)}n&&(f.splice(t--,1),e=a(a.s=r[0]))}return e}var r={},c={1:0},f=[];function a(e){if(r[e])return r[e].exports;var t=r[e]={i:e,l:!1,exports:{}};return i[e].call(t.exports,t,t.exports,a),t.l=!0,t.exports}a.m=i,a.c=r,a.d=function(e,t,r){a.o(e,t)||Object.defineProperty(e,t,{enumerable:!0,get:r})},a.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},a.t=function(t,e){if(1&e&&(t=a(t)),8&e)return t;if(4&e&&"object"==typeof t&&t&&t.__esModule)return t;var r=Object.create(null);if(a.r(r),Object.defineProperty(r,"default",{enumerable:!0,value:t}),2&e&&"string"!=typeof t)for(var n in t)a.d(r,n,function(e){return t[e]}.bind(null,n));return r},a.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return a.d(t,"a",t),t},a.o=function(e,t){return Object.prototype.hasOwnProperty.call(e,t)},a.p="/reactjs/build/";var t=this["webpackJsonpreact-bootstrap"]=this["webpackJsonpreact-bootstrap"]||[],n=t.push.bind(t);t.push=e,t=t.slice();for(var o=0;o<t.length;o++)e(t[o]);var s=n;p()}([])</script>
  <script src="~/reactjs/build/static/js/2.21050fd5.chunk.js"></script>
  <script src="~/reactjs/build/static/js/main.86c8ecf6.chunk.js"></script>
  <!--
</body>
</html>
-->