@model IEnumerable<MeetingScheduler.Models.Calendar>
@{
  ViewData["Title"] = "Calendars";
  Layout = "_LayoutSignedIn";
}
<div class="jumbotron">
  <h1 class="text-center">Calendars</h1>
  <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th class="text-center">Description</th>
              </tr>
          </thead>
          <tbody>
            @{
              foreach (var calendar in Model) {
                var link = "/Calendar/Calendar?calendarId="+@calendar.Id;
                <tr>
                    <td class="text-center"><a href="@link">@calendar.Description</a></td>
                </tr>
              }
            }
          </tbody>
      </table>
  </div>
</div>