@model IEnumerable<MeetingScheduler.Models.Calendar>
@{
  ViewData["Title"] = "Calendars";
  Layout = "_LayoutSignedIn";
}
<div class="jumbotron">
  <h1 class="text-center">Calendars</h1>
  <div class="table-responsive">
      <table class="table">
          <thead>
              <tr>
                  <th class="text-center">Calendar Name</th>
              </tr>
          </thead>
          <tbody>
            @{
              foreach (var calendar in Model) {
                var link = "/Calendar/Calendar?calendarId="+@calendar.Id;
                <tr>
                    <td class="text-center"><a href="@link">@calendar.Description</a></td>
                </tr>
              }
            }
          </tbody>
      </table>
  </div>
  <div class="row">
      <div class="col">
              <form method="post" action="/Calendar/AddCalendar" style="padding-top: 70px;">
                  <div class="form-group">
                      <h1 class="text-center">Add Calendar</h1>
                  </div>
                  <div class="form-group"><input class="form-control form-control-lg" type="text" id="description" name="description" style="width: 50%;margin-left: 25%;" required="" placeholder="Name"></div>
                  <div class="form-group"><button class="btn btn-dark btn-lg" style="width: 50%;margin-left: 25%;" type="submit">Add</button></div>
              </form>
      </div>
  </div>
</div>