    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="material-icons m-auto text-primary" data-bs-hover-animate="pulse">mail_outline</i></div>
                        <h3>Email Sent</h3>
                        <p class="lead mb-0">An email has been sent to EMAIL. Use the link to gain access.</p>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>

    </section>