@{
    ViewData["Title"] = "Privacy Policy";
}
	</div>
        <div class="container center-vertically-holder" style="margin-top:-20px;">
            <div class="row center-vertically">
                <div class="col-md-8 offset-sm-0 offset-md-2 text-center" style="margin-top:100px;margin-bottom:100px;">
                    <h1>@ViewData["Title"]<br><br></h1>
                    <hr style="border-top:1px;color:rgba(255,255,255,0.9);width:60%;margin:0px;margin-top:-50px;margin-bottom:10px;margin-left:20%;">
                    <p>Our systems do not store any passwords in any form. The system stores the email address you provide and name you provided. Both the email address and your name will be viewable to anyone you create a session with. The available times
                        are only viewable to people you have shared that session with. Our system only stores the times you are available. Our system does not store any information that could be used to know what you are doing at specific times.</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
